ol li {
    background-color: cornflowerblue;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 22px;
    color: black;
    list-style-type: none;
    
}


@media screen and (max-width: 786px) {
    /* 786px  */
    body {
        max-width: 786px;
    }

    #section {
    position: absolute;
    left: 20%;
    }
    
    a {
    margin-left: 20%;
    }
    #returnHome {
        
        position: relative;
        left: 55%;
    }
    
    #clear {
        
        position: relative;
        right: 5%;
        
    }
    }
    
    /* 640px */
    @media screen and (max-width: 640px) {
 
    body {
        min-width: 640px;
    }

    #section {
    position: absolute;
    left: 10%;
    }
    a {
      margin-left: 10%;
    }
    
    
    }